$yellow:hsl(47, 88%, 63%);
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 50%);
$Black: hsl(0, 0%, 7%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree";
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow;
    height: 100vh;
    font-size: 16px;
}

.container {
    background-color: $White;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid $Black;
    box-shadow: 7px 7px $Black;
}

.thumbnail {
    margin-bottom: 10px;
    img {
        width: 100%;
        border-radius: 15px;
        height: auto;
    }
}

.category {
    display: inline-block;
    color: black;
    background:$yellow;
    padding: 5px;
    border-radius: 8px;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 0.8rem;

}

.date {
    color: $Black;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.content {
    text-align: justify;

    #head {
        margin-bottom: 10px;
        font-weight: 800;
        font-size: 1.2rem;
        cursor: pointer;
    }
    #description {
        margin-bottom: 10px;
        color: $Grey;
        font-size: 0.9rem;
    }
}

#head:hover {
    color:$yellow;
}

.author {
    display: flex;
    flex-direction: row;
    height: auto;
    font-weight: 800;
    font-size: 0.8rem;

    img {
        height: 15%;
        width: 15%;
    }

    .name {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 8px;
        padding-top:20px 0px;
    }
}







